<div class="container" style="height: 700px">
  <div class="row p-3">
    <div class="col-2 my-3">
      <h5 class="text-center" style="background-color: #6c757d36">会員情報編集</h5>
    </div>
  </div>
    
  <div class="row px-4">
    <table class="table table-borderless">
      <%= form_with model: @customer, url: customers_path, method: :patch do |f| %>
        <tbody class="form-group">
          <tr>
            <td style="width: 20%", class="align-middle">氏名</td>
            <td style="width: 30%"><%= f.text_field :last_name, class: "form-control" %></td>
            <td style="width: 30%"><%= f.text_field :first_name, class: "form-control" %></td>
            <td style="width: 20%"></td>
          </tr>
          <tr>
            <td class="align-middle">フリガナ</td>
            <td><%= f.text_field :last_name_kana, class: "form-control" %></td>
            <td><%= f.text_field :first_name_kana, class: "form-control" %></td>
            <td></td>
          </tr>
          <tr>
            <td class="align-middle">郵便番号</td>
            <td><%= f.text_field :postal_code, class: "form-control"%></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td class="align-middle">住所</td>
            <td colspan="3"><%= f.text_field :address, class: "form-control" %></td>
          </tr>
          <tr>
            <td class="align-middle">電話番号</td>
            <td><%= f.text_field :telephone_number, class: "form-control" %></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td class="align-middle">メールアドレス</td>
            <td><%= f.text_field :email, class: "form-control" %></td>
            <td></td>
            <td></td>
          </tr>
          <tr class="mt-2">
            <td></td>
            <td><%= f.submit "編集内容を保存", class: "btn btn-success" %></td>
            <td></td>
            <td>
              <%= link_to unsubscribe_path do %>
                <button class="btn btn-danger">退会する</button>
              <% end %>
            </td>
          </tr>
        </tbody>
      <% end %>
    </table>
  </div>
</div>