<div class="container my-2">
  <div class="row px-2">
    <div class="col-2 my-3">
      <div class="alert alert-secondary", role="alert">
        <span>マイページ</span>
      </div>
    </div>
  </div>
  
  <div class="row flex-column">
    <div class="col-4 d-flex">
      <h3 class="mr-3">登録情報</h3>
      <%= link_to edit_customers_path do %>
        <button class="btn btn-success">編集する</button>
      <% end %>
    </div>
    <div class="col-8 mt-2">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td class="table-secondary",style="width: 30%">氏名</td>
            <td style="width: 70%">
              <%= current_customer.last_name+current_customer.first_name %>
            </td>
          </tr>
          <tr>
            <td class="table-secondary">カナ</td>
            <td><%= current_customer.last_name_kana+current_customer.first_name_kana %></td>
          </tr>
          <tr>
            <td class="table-secondary">郵便番号</td>
            <td><%= current_customer.postal_code %></td>
          </tr>
          <tr>
            <td class="table-secondary">住所</td>
            <td><%= current_customer.address %></td>
          </tr>
          <tr>
            <td class="table-secondary">電話番号</td>
            <td><%= current_customer.telephone_number %></td>
          </tr>
          <tr>
            <td class="table-secondary">メールアドレス</td>
            <td><%= current_customer.email %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-4 my-3 d-flex">
      <h3 class="mr-3">配送先　</h3>
      <%= link_to addresses_path do %>
        <button class="btn btn-primary">一覧を見る</button>
      <% end %>
    </div>
    <div class="col-4 my-4 d-flex">
      <h3 class="mr-3">注文履歴</h3>
      <%= link_to orders_path do %>
        <button class="btn btn-primary">一覧を見る</button>
      <% end %>
    </div>
  </div>
</div>