<div class="container">
    <div class="row px-2">
        <div class="col-4 my-5">
            <div class="alert alert-secondary", role="alert">
                <span><%= @customer.last_name+@customer.first_name %>さんの会員情報編集</span>
            </div>
        </div>
    </div>
    
    <div class="row px-4">
        <table class="table table-borderless">
            <thead>
                <tr>
                    <td scope="col", style="width: 20%">会員ID</td>
                    <td scope="col", style="width: 30%">1</td>
                    <td scope="col", style="width: 30%"></td>
                    <td scope="col", style="width: 20%"></td>
                </tr>
            </thead>
            <tbody class="form-group">
                <%= form_with model: @customer, url: admin_customer_path(@customer.id), method: :patch do |f| %>
                    <tr>
                        <td>氏名</td>
                        <td><%= f.text_field :last_name, class: "form-control" %></td>
                        <td><%= f.text_field :first_name, class: "form-control" %></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>フリガナ</td>
                        <td><%= f.text_field :last_name_kana, class: "form-control" %></td>
                        <td><%= f.text_field :first_name_kana, class: "form-control" %></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>郵便番号</td>
                        <td><%= f.text_field :postal_code, class: "form-control"%></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>住所</td>
                        <td colspan="3"><%= f.text_field :address, class: "form-control" %></td>
                    </tr>
                    <tr>
                        <td>電話番号</td>
                        <td><%= f.text_field :telephone_number, class: "form-control" %></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>メールアドレス</td>
                        <td><%= f.text_field :email, class: "form-control" %></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>会員ステータス</td>
                        <td>
                            <%= f.radio_button :is_active, :on, checked: true %>
                            <%= f.label :is_active, "有効", value: :on %>
                            <%= f.radio_button :is_active, :off, class: "ml-3" %>
                            <%= f.label :is_active, "退会", value: :off %>
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="mt-2">
                        <td></td>
                        <td><%= f.submit "変更を保存", class: "btn btn-success" %></td>
                        <td></td>
                        <td></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>