<div class="container" style="height: 700px">
  <div class="row p-3">
    <div class="col-2 my-3">
      <h5 class="text-center" style="background-color: #6c757d36">注文履歴詳細</h5>
    </div>
  </div>
	
	<div class="row form-group">
		<table class="table table-borderless">
			<tbody>
				<tr>
					<th style="width: 15%">購入者</th>
					<td style="width: 15%">
						<%= link_to admin_customer_path(@order.customer.id), class: "text-dark" do %>
							<u><%= @order.customer.last_name+'　'+@order.customer.first_name %></u>
						<% end %>
					</td>
					<td style="width: 15%"></td>
					<td style="width: 55%"></td>
				</tr>
				<tr>
					<th>注文日</th>
					<td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<th>配送先</th>
					<td colspan="3">
						〒<%= @order.postal_code+'  '+@order.address %><br>
						<%= @order.name %>
					</td>
				</tr>
				<%= form_with model: @order, url: admin_order_path(@order.id), method: :patch do |f| %>
					<tr>
						<th>支払方法</th>
						<td><%= @order.payment_method_i18n %></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<th class="align-middle">注文ステータス</th>
						<td class="d-flex">
							<%= f.select :order_status, Order.order_statuses_i18n.invert, {include_blank: Order.order_statuses_i18n.key(0)}, {class: "form-control"} %>
						</td>
						<td><%= f.submit "更新", class: "btn btn-success" %></td>
						<td></td>
					</tr>
					<% end %>
			</tbody>
		</table>
	</div>
	<div class="row mb-3">
		<div class="col-9">
			<table class="table table-borderless border-bottom">
				<thead class="thead-light">
					<tr>
						<th scope="col", style="width: 30%">商品名</th>
						<th scope="col", style="width: 15%">単価（税込）</th>
						<th scope="col", style="width: 10%">数量</th>
						<th scope="col", style="width: 15%">小計</th>
						<th scope="col", style="width: 30%">製作ステータス</th>
					</tr>
				</thead>
				<tbody>
					<% @order.order_details.each do |detail| %>
						<tr>
							<td class="align-middle"><%= detail.item.name %></td>
							<td class="align-middle"><%= detail.price %></td>
							<td class="align-middle"><%= detail.amount %></td>
							<td class="align-middle"><%= detail.price*detail.amount %></td>
							<%= form_with model: detail, url: admin_order_order_detail_path(detail.id), method: :patch do |f| %>
								<td class="d-flex">
									<%= f.select :making_status, OrderDetail.making_statuses_i18n.invert, {include_blank: OrderDetail.making_statuses_i18n.key(0)}, {class: "form-control"} %>
									<%= f.submit "更新", class: "btn btn-success ml-2" %>
								</td>
							<% end %>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
		<div class="col-3 align-self-end">
			<% @order.order_details.each do |details| %>
				<% @total += details.price*details.amount %>
			<% end %>
			<table class="table table-borderless">
				<tbody>
					<tr>
						<th scope="col">商品合計</th>
						<td scope="col"><%= @total %>円</td>
					</tr>
					<tr>
						<th>送料</th>
						<td><%= @order.shipping_cost %>円</td>
					</tr>
					<tr>
						<th>請求金額合計</th>
						<th><%= @order.total_payment %>円</th>
					</tr>
				</tbody>
			</table>
			
		</div>
	</div>
</div>