<div class="container">
  <div class="row p-10">
    <div class="col-4 my-5">
      <div class="alert alert-secondary", role="alert">
        <span>ジャンル一覧・追加</span>
      </div>
    </div>
  </div>
</div>

<%= form_with model: @genre, url: "/admin/genres" do |f| %>
  <div class="form-group row mx-5">
    <label class="col-1 col-form-label ml-3">ジャンル名</label>
    <div class="col-2 mr-5">
      <%= f.text_field :name, class: "form-control", placeholder: "ジャンル名" %>
    </div>
    <div class="col-2">
      <%= f.submit "新規登録", class: "btn btn-success" %>
    </div>
  </div>
<% end %>

<div class="row p-5">
  <div class="col-3 mb-3">
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col"></th>
          <th scope="col">ジャンル</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <% @genres.each do |genres| %>
          <tr>
            <td><%= genres.name %></td>
            <td></td>
            <td>
              <%= link_to edit_admin_genre_path(genres.id) do %>
                <button type="button", class="btn btn-success">編集する</button>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>