<div class="container">
  <div class="row px-2">
    <div class="col-4 my-5">
      <div class="alert alert-secondary", role="alert">
        <span>新規会員登録</span>
      </div>
    </div>
    <%= render "public/shared/error_messages", resource: resource %>
  </div>
    
  <div class="row px-4">
    <table class="table table-borderless">
      <tbody class="form-group p-2">
        <%= form_with model: @customer, url: customer_registration_path do |f| %>
          <tr>
            <td scope="col", class="align-middle", style="width: 26%">名前</td>
            <td scope="col", class="align-middle", style="width: 7%">(姓)</td>
            <td scope="col", style="width: 30%">
              <%= f.text_field :last_name, class: "form-control", placeholder: "令和" %>
            </td>
            <td scope="col", class="align-middle", style="width: 7%">(名)</td>
            <td scope="col", class="align-middle", style="width: 30%">
              <%= f.text_field :first_name, class: "form-control", placeholder: "道子" %>
            </td>
          </tr>
          <tr>
            <td class="align-middle">フリガナ</td>
            <td class="align-middle">(セイ)</td>
            <td><%= f.text_field :last_name_kana, class: "form-control", placeholder: "レイワ" %></td>
            <td class="align-middle">(メイ)</td>
            <td><%= f.text_field :first_name_kana, class: "form-control", placeholder: "ミチコ" %></td>
          </tr>
          <tr>
            <td class="align-middle">メールアドレス</td>
            <td></td>
            <td><%= f.email_field :email, class: "form-control", placeholder: "sample@example.com" %></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td class="align-middle">郵便番号(ハイフンなし)</td>
            <td></td>
            <td><%= f.text_field :postal_code, class: "form-control", placeholder: "0000000" %></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td class="align-middle">住所</td>
            <td></td>
            <td colspan="3">
              <%= f.text_field :address, class: "form-control", placeholder: "東京都渋谷区代々木神園町0-0" %>
            </td>
          </tr>
          <tr>
            <td class="align-middle">電話番号(ハイフンなし)</td>
            <td></td>
            <td><%= f.text_field :telephone_number, class: "form-control", placeholder: "0000000000" %></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td class="align-middle">パスワード(6文字以上)</td>
            <td></td>
            <td><%= f.password_field :password, class: "form-control", autocomplete: "new-password" %></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td class="align-middle">パスワード(確認用)</td>
            <td></td>
            <td><%= f.password_field :password_confirmation, class: "form-control", autocomplete: "new-password" %></td>
            <td></td>
            <td></td>
          </tr>
          <tr class="mt-1">
            <td></td>
            <td></td>
            <td><%= f.submit "新規登録", class: "btn btn-success" %></td>
            <td></td>
            <td></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="row flex-column px-2">
    <div class="col-4 my-3">
      <div class="alert alert-secondary", role="alert">
        <span>既に登録済みの方</span>
      </div>
    </div>
    <div class="col-4 offset-md-2">
      <p><u><%= link_to "こちら", new_customer_session_path %></u> からログインしてください。</p>
    </div>
  </div>
</div>