<div class="container" style="height: 700px">
  <div class="row p-3">
    <div class="col-2 my-3">
      <h5 class="text-center" style="background-color: #6c757d36">ログイン</h5>
    </div>
  </div>
  
  <div class="row flex-column px-3">
    <div class="col-4 offset-md-1 my-3">
      <h5 class="text-center" style="background-color: #6c757d36">会員の方はこちらからログイン</h5>
    </div>
    <div class="col-10 mx-auto">
      <%= form_with model: @customer, url: customer_session_path do |f| %>
        <table class="table table-borderless">
          <tbody class="form-group">
            <tr>
              <td scope="col", class="align-middle", style="width: 30%">メールアドレス</td>
              <td scope="col", class="align-middle", style="width: 70%">
                <%= f.text_field :email, class: "form-control", placeholder: "sample@example.com" %>
              </td>
            </tr>
            <tr>
              <td class="align-middle">パスワード</td>
              <td><%= f.text_field :password, class: "form-control" %></td>
            </tr>
            <tr>
              <td></td>
              <td><%= f.submit "ログイン", class: "btn btn-primary" %></td>
            </tr>
          </tbody>
        </table>
      <% end %>
    </div>
    <div class="col-4 offset-md-1 my-3">
      <h5 class="text-center" style="background-color: #6c757d36">会員登録がお済みでない方</h5>
    </div>
    <div class="col-4 offset-md-3 my-2">
      <p><u><%= link_to "こちら", new_customer_registration_path %></u> から新規登録してください。</p>
    </div>
  </div>
</div>
  
