<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
    <header class="border-bottom border-dark my-1">
      <nav class="navbar">
        <div class="container">
          <a class="nav-brand" href="/"><%= image_tag('cooltext409284279304300.png') %></a>
          <form class="form-inline ml-auto">
            <% if customer_signed_in? %>
              <p>ようこそ、<%= current_customer.last_name %>さん！</p>
              <%= link_to mypage_path do %>
                <button class="btn btn-outline-secondary mx-2">マイページ</button>
              <% end %>
              <%= link_to items_path do %>
                <button class="btn btn-outline-secondary mx-2">商品一覧</button>
              <% end %>
              <%= link_to cart_items_path do %>
                <button class="btn btn-outline-secondary mx-2">カート</button>
              <% end %>
              <%= link_to destroy_customer_session_path, method: :delete do %>
                <button class="btn btn-outline-secondary mx-2">ログアウト</button>
              <% end %>
            <% elsif admin_signed_in? %>
              <%= link_to admin_items_path do %>
                <button class="btn btn-outline-secondary mx-2">商品一覧</button>
              <% end %>
              <%= link_to admin_customers_path do %>
                <button class="btn btn-outline-secondary mx-2">会員一覧</button>
              <% end %>
              <%= link_to admin_top_path do %>
                <button class="btn btn-outline-secondary mx-2">注文履歴一覧</button>
              <% end %>
              <%= link_to admin_genres_path do %>
                <button class="btn btn-outline-secondary mx-2">ジャンル一覧</button>
              <% end %>
              <%= link_to destroy_admin_session_path, method: :delete do %>
                <button class="btn btn-outline-secondary mx-2">ログアウト</button>
              <% end %>
            <% else %>
              <%= link_to about_path do %>
                <button class="btn btn-outline-secondary mx-2">About</button>
              <% end %>
              <%= link_to items_path do %>
                <button class="btn btn-outline-secondary mx-2">商品一覧</button>
              <% end %>
              <%= link_to new_customer_registration_path do %>
                <button class="btn btn-outline-secondary mx-2">新規登録</button>
              <% end %>
              <%= link_to new_customer_session_path do %>
                <button class="btn btn-outline-secondary mx-2">ログイン</button>
              <% end %>
            <% end %>
          </form>
          <div class="col-3 offset-md-9">
            <table class="table table-borderless form-group form-inline">
              <%= form_with url: search_path, local: true do |f| %>
                <tbody>
                  <tr>
                    <td class="p-0" style="width: 85%"><%= f.search_field :keyword, class: "form-control", placeholder: "Search" %></td>
                    <td class="p-0" style="width: 15%">
                      <%= button_tag type: "submit", class: "form-control" do %>
                        <i class="fa fa-search"></i>
                      <% end %>                      
                    </td>
                  </tr>
                </tbody>
              <% end %>
            </table>
          </div>
        </div>
      </nav>
    </header>
    
    <main>
    <%= yield %>
    </main>
    
    <footer class="border-top border-dark my-1", style="height :100px"></footer>
  </body>
</html>
